/* Box Model Hack */
* {
  box-sizing: border-box;
}

/******************************************
/* BASE STYLES
/*******************************************/

body {
  background: #1a1c28;
   display: flex;
  align-items:center ;
  justify-content: center;
  height: 100vh; 
   
}

/******************************************
/* LAYOUT
/*******************************************/
main {
  display: grid;
  grid-template-areas:
    "a a a b b"
    "c  c d  d d"
    "c c e e e";
  gap: 10px;
  width: 50%;
  /* margin:0 auto; */
  
}


.A {
  background: #eb5020;
  grid-area: a;
   height: 200px;
}
.B {
  background: #fca201;
  grid-area: b;
 
}
.C {
  background: #05aa42;
  grid-area: c;
  height: 200px;
}
.D {
  background: #01aefd;
  grid-area: d;
}
.E {
  background:#01aefd;
  grid-area: e;
}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/
